@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-grey: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 16px;
}

nav {
  height: 80px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.nav__logo--wrapper {
  margin-right: 20px;
  display: flex;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  display: flex;
}

#features__link:hover,
#company__link:hover {
  cursor: pointer;
}

.nav__link figure {
  margin-left: 4px;
  width: 8px;
  display: flex;
  align-items: center;
}

nav p,
nav a {
  font-size: 14px;
  color: var(--medium-grey);
  font-weight: 700;
  margin-left: 28px;
}

.nav__accounts--register {
  border: 2px solid var(--medium-grey);
  border-radius: 10px;
  padding: 8px 16px;
}

/* header */

.container {
  margin: 36px 128px;
}

.row {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.header__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}

.header__information--title {
  font-size: 5vw;
  margin-bottom: 40px;
  color: var(--almost-black);
}

.header__information--description {
  color: var(--medium-grey);
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 40px;
  max-width: 500px;
}

.header__information--btn {
  color: var(--almost-white);
  border: none;
  background-color: var(--almost-black);
  padding: 11px 21px;
  width: max-content;
  border-radius: 12px;
  font-weight: 700;
  margin-left: 8px;
  margin-bottom: 80px;
  border: 3px solid var(--almost-black);
}

.header__information--btn:hover {
  cursor: pointer;
  color: var(--almost-black);
  background-color: var(--almost-white);
}

.header__information--customers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.header__customer--wrapper {
  margin-right: 12px;
}

.header__customer--wrapper:last-child {
  margin-right: 0;
}

.header__img--container-desktop {
  width: 45%;
  display: flex;
  justify-content: center;
}

.header__img--wrapper-desktop {
  display: flex;
  max-width: 400px;
  height: fit-content;
  margin-left: 40px;
}

.header__img--wrapper-mobile {
  display: none;
}

/* dropdown boxes */

.dropdown {
  visibility: hidden;
  background-color: palegoldenrod;
  position: absolute;
  top: 60px;
  z-index: 2;
  border-radius: 10px;
  padding: 16px;
}

.dropdown .link {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.dropdown .link:last-child {
  margin-bottom: 0;
}

.appear {
  visibility: visible;
}

.features__drop-down {
  left: 120px;
}

.features__drop-down p {
  margin-left: 8px;
}

.company__drop-down {
  left: 260px;
}

.company__drop-down p {
  margin-left: 0;
}

#mobile__dropdown,
#mobile__dropdown--btn {
  display: none;
}

#mobile__dropdown {
  background-color: antiquewhite;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 60%;
  height: 100vh;
  padding: 24px;
}

#mobile__dropdown--close {
  width: 35px;
}

.mobile__close--container {
  display: flex;
  justify-content: end;
}

.nav__link--mobile {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.nav__link--mobile p,
.nav__link--mobile a,
.nav__accounts--mobile a {
  font-size: 16px;
  margin-right: 16px;
}

.nav__links--mobile {
  margin-bottom: 32px;
}

.nav__accounts--mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__register--mobile {
  text-align: center;
  width: 100%;
  border: 2px solid var(--almost-black);
  margin-top: 24px;
  padding: 12px 0;
  border-radius: 15px;
}

#company__link--mobile:hover, #mobile__dropdown:hover {
  cursor: pointer;
}

.dropdown--mobile {
  margin-left: 48px;
}

.dropdown--mobile p {
  font-size: 16px;
  margin-left: 0;
}

#features__drop-down--mobile {
  display: none;
}

#features__drop-down--mobile .link {
  display: flex;
  margin-bottom: 24px;
}

#features__drop-down--mobile p {
  margin-left: 8px;
}

#company__drop-down--mobile {
  display: none;
}

#company__drop-down--mobile p {
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .features__drop-down {
    left: calc(120px + (100vw - 1440px) / 2);
  }

  .company__drop-down {
    left: calc(260px + (100vw - 1440px) / 2);
  }
}

@media screen and (max-width: 800px) {
  .header__img--container-desktop {
    display: none;
  }

  .header__img--wrapper-mobile {
    display: block;
    margin-bottom: 24px;
  }

  .container {
    margin: 12px 150px;
  }

  .row {
    flex-direction: column;
  }

  .header__information {
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .header__information--title {
    font-size: 40px;
    width: 100%;
    margin-bottom: 24px;
  }

  .line-break {
    display: none;
  }

  .header__information--description {
    margin-bottom: 24px;
  }

  .header__information--btn {
    margin-bottom: 24px;
  }

  nav {
    padding: 0 8px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin: 0;
  }

  nav {
    padding: 0 24px;
  }

  .nav__link,
  .nav__accounts {
    visibility: hidden;
    position: absolute;
  }

  .nav__link--mobile,
  .nav__accounts--mobile {
    visibility: visible;
    position: relative;
  }

  #mobile__dropdown {
    display: flex;
    flex-direction: column;
  }

  #mobile__dropdown--btn {
    display: block;
  }

  #mobile__dropdown--btn:hover,
  #mobile__dropdown--close:hover {
    cursor: pointer;
  }
}
